<div class="recc" *ngIf="recs && recs.length">
    <div class="recc__top-wrap">
        <span class="recc__top-span"></span>
        <h2 class="recc__top-header">You may also like:</h2>
    </div>
    <div (click)="toChangePage()" class="recc__anime-wrap" *ngFor="let rec of recs">
        <a [routerLink]="'../' + rec.entry.mal_id">
            <img class="recc__anime-pic" src={{rec.entry.images.jpg.large_image_url}} alt="Poster" class="recc__anime-pic">
            <h2 class="recc__anime-name">{{rec.entry.title}}</h2>
        </a>
    </div>
</div>