<div *ngIf="animes$ | async as animes" class="search container">
    <div *ngIf="animes.length; else warn" class="search__wrap">
        <a *ngFor="let anime of animes" [routerLink]="'../anime/' + anime.mal_id" class="search__anime-link">
            <div class="search__anime">
                <img src={{anime.images.jpg.large_image_url}} alt="Anime-poster" class="search__anime-pic">
                <div class="search__anime-text">
                    <h2 class="search__anime-header">{{anime.title}}</h2>
                    <p class="search__anime-desc">{{anime.synopsis}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
<ng-template #warn>
    <h2 class="search__no-res">No results found</h2>
</ng-template>